.levelSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 400px; /* Mismo ancho máximo que el ColorPanel */
    margin-left: auto;
    margin-right: auto;
}

.select {
    font-family: 'Press Start 2P', cursive;
    padding: 10px 15px;
    font-size: 14px;
    background-color: var(--button-color);
    color: var(--text-color);
    border: 3px solid var(--highlight-color);
    cursor: pointer;
    outline: none;
    box-shadow: 3px 3px 0px #000;
    width: 100%;
    text-align: center;
}

.select:hover {
    background-color: var(--button-hover);
    transform: translate(1px, 1px);
    box-shadow: 2px 2px 0px #000;
}
